* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    width: 100%;
    background-color: lavender
}
.birthday {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 26rem;
    margin-top: 2em;
    text-align: center;
}